<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Takilm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFC8EEB91D949B1700C04AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFC8EECD1D949B1800C04AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFC8EED81D949B1800C04AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
